# Conteneurs Python
- listes: type list []
- tuples: type tuple ()
- dictionnaires: type dict {}
- ensembles: type set {}

## Listes

### Création

In [4]:
villes = ["Montpellier", "Pau", "Toulouse", "L'Haÿ-les-Roses", "La Châtre"]
villes

['Montpellier', 'Pau', 'Toulouse', "L'Haÿ-les-Roses", 'La Châtre']

In [5]:
type(villes)

list

### Accès

In [7]:
# 1er élément de la liste: position 0
villes[0]

'Montpellier'

In [8]:
# dernier élément
villes[-1]

'La Châtre'

In [9]:
# slices => sous liste
villes[:3]

['Montpellier', 'Pau', 'Toulouse']

In [10]:
villes[-3:]

['Toulouse', "L'Haÿ-les-Roses", 'La Châtre']

In [11]:
len(villes)

5

### Modifications avec 1 méthode

In [13]:
villes.append('Limoges')
villes

['Montpellier', 'Pau', 'Toulouse', "L'Haÿ-les-Roses", 'La Châtre', 'Limoges']

In [14]:
villes.insert(2, 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson')
villes

['Montpellier',
 'Pau',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Limoges']

In [15]:
villes_a_ajouter = ["Mittelbergheim", "Fontainebleau"]
villes.extend(villes_a_ajouter)
villes

['Montpellier',
 'Pau',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Limoges',
 'Mittelbergheim',
 'Fontainebleau']

In [16]:
del villes[1]
villes

['Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Limoges',
 'Mittelbergheim',
 'Fontainebleau']

In [17]:
# Vider toute la liste
villes_a_ajouter.clear()
villes_a_ajouter

[]

In [18]:
villes.remove('Limoges')
villes

['Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

### Récupération d'exception
structure try ... except

liste des exceptions natives: https://docs.python.org/3.12/library/exceptions.html

In [20]:
try:
    villes.remove('Limoges')
    print("Limoges a été supprimé de la liste")
except:
    print("Limoges n'est pas dans la liste")

Limoges n'est pas dans la liste

In [21]:
try:
    villes.remove('Limoges')
    print("Limoges a été supprimé de la liste")
except ValueError as ex:
    print("Limoges n'est pas dans la liste")
    print("Raison :", ex)

Limoges n'est pas dans la liste
Raison : list.remove(x): x not in list

### Modification avec l'operateur []
- 1 index
- 1 slice

In [23]:
print(villes)
villes[2] = 'Montcuq'
print(villes)

['Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Toulouse', "L'Haÿ-les-Roses", 'La Châtre', 'Mittelbergheim', 'Fontainebleau']
['Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Montcuq', "L'Haÿ-les-Roses", 'La Châtre', 'Mittelbergheim', 'Fontainebleau']

In [24]:
# remplacement de 2 villes par 2 autres
villes[:2] = ['Toulouse', 'Pau']
villes

['Toulouse',
 'Pau',
 'Montcuq',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

In [25]:
# remplacement de 2 villes par 3 autres
villes[1:3] = ['Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Lyon']
villes

['Toulouse',
 'Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Lyon',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

In [26]:
# remplacement de 3 villes par 1 autre
villes[-3:]=['Lille']
villes

['Toulouse',
 'Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Lyon',
 "L'Haÿ-les-Roses",
 'Lille']

In [27]:
# suppression avec slice
del villes[-3:]
villes

['Toulouse', 'Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson']

### Liste hétérogène
rare => privilégier les tuples ou dictionnaires

In [29]:
valeurs = ['Montpellier', 34, 12.3, False, None, [1,2,3]]
valeurs

['Montpellier', 34, 12.3, False, None, [1, 2, 3]]

## Boucle for
On peut parcourir tout objet 'iterable': str, list, tuple, set, dict, numpy.ndarray, ...

In [31]:
# type list: itération sur les éléments de la liste
for ville in villes:
    print(ville)

Toulouse
Montpellier
Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson

In [32]:
# # TypeError: 'int' object is not iterable
# for x in 123456:
#     print(x)

In [33]:
# type str: itération sur les caractères de la chaîne
nom_ville = villes[-1]
for lettre in nom_ville:
    print(lettre, end=' | ')

S | a | i | n | t | - | R | é | m | y | - | e | n | - | B | o | u | z | e | m | o | n | t | - | S | a | i | n | t | - | G | e | n | e | s | t | - | e | t | - | I | s | s | o | n |

In [34]:
for i in range(5): # de 0 (inclus) à 5 (exclus)
    print(i)

0
1
2
3
4

In [35]:
for i in range(1, 6): # de 1 (inclus) à 6 (exclus)
    print(i)

1
2
3
4
5

In [36]:
for i in range(0, 50, 10): # de 0 (inclus) à 50 (exclus) par pas de 10
    print(i)

0
10
20
30
40

In [37]:
# Python 3: la fonction range renvoie un petit objet décrivant l'intervalle
# Python 2.7 => liste [0,10,20,30,40]
r = range(0,50,10)
r

range(0, 50, 10)

In [38]:
# la fonction list convertit 1 objet iterable en liste
list(range(0,50,10))

[0, 10, 20, 30, 40]

In [39]:
list(nom_ville)

['S',
 'a',
 'i',
 'n',
 't',
 '-',
 'R',
 'é',
 'm',
 'y',
 '-',
 'e',
 'n',
 '-',
 'B',
 'o',
 'u',
 'z',
 'e',
 'm',
 'o',
 'n',
 't',
 '-',
 'S',
 'a',
 'i',
 'n',
 't',
 '-',
 'G',
 'e',
 'n',
 'e',
 's',
 't',
 '-',
 'e',
 't',
 '-',
 'I',
 's',
 's',
 'o',
 'n']

### Exercice 1
Afficher chaque ville en majuscule et entre parenthèse son nombre de lettre

In [41]:
villes = [
    'Toulouse',
     'Montpellier',
     'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
     'Lyon',
     "L'Haÿ-les-Roses",
     'La Châtre',
     'Mittelbergheim',
     'Fontainebleau'
]

In [42]:
for ville in villes:
    print(f"{ville.upper()} ({len(ville)})")

TOULOUSE (8)
MONTPELLIER (11)
SAINT-RÉMY-EN-BOUZEMONT-SAINT-GENEST-ET-ISSON (45)
LYON (4)
L'HAŸ-LES-ROSES (15)
LA CHÂTRE (9)
MITTELBERGHEIM (14)
FONTAINEBLEAU (13)

### Exercice 2
Récupérer dans une liste les villes de moins de 10 lettres

In [44]:
# initialise une liste vide
villes_moins_10_carac = []
# boucle qui ajoute les éléments trouvés
for ville in villes:
    if len(ville) < 10:
        # print(ville,(len(ville)))
        villes_moins_10_carac.append(ville)
villes_moins_10_carac

['Toulouse', 'Lyon', 'La Châtre']

### Exercice 3
Le nombre total de lettres de la liste de villes

In [46]:
# operateur 'in place': +=, -=, *=, /=, //=, %=, **=

# initialise un compteur
nb_char = 0
# boucle ajoutant le nombre de lettre pour chacune des villes
for ville in villes:
    # nb_char = nb_char + len(ville)
    nb_char += len(ville)
nb_char

119

## Fonctions natives sur les iterables

### fonction sum
Signature: sum(iterable, /, start=0)

In [49]:
nombres = [1, 10, 23, 41, 12, -5, 0]
s = sum(nombres)
s

82

In [50]:
# appel 1er paramètre par position, 2e par keyword (privilégié pour les optionnels)
sum(nombres, start=100)

182

In [51]:
# appel avec tous les paramètres par position
sum(nombres, 100)

182

### fonction enumerate
Signature: enumerate(iterable, start=0)

In [53]:
enumerate(villes, 1)

In [54]:
enumerate(villes, start=1)

In [55]:
enumerate(iterable=villes)

In [56]:
enumerate(iterable=villes, start=1)

In [57]:
for i, ville in enumerate(villes, start=1):
    print(f"- {i:02d} - {ville}")

- 01 - Toulouse
- 02 - Montpellier
- 03 - Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson
- 04 - Lyon
- 05 - L'Haÿ-les-Roses
- 06 - La Châtre
- 07 - Mittelbergheim
- 08 - Fontainebleau

In [58]:
list(enumerate(villes, start=1)) # liste de tuples (int, str)

[(1, 'Toulouse'),
 (2, 'Montpellier'),
 (3, 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson'),
 (4, 'Lyon'),
 (5, "L'Haÿ-les-Roses"),
 (6, 'La Châtre'),
 (7, 'Mittelbergheim'),
 (8, 'Fontainebleau')]

### Exercice fonctions natives
Appeler les fonctions: min, max, sorted, reversed

In [60]:
print(nombres)
min(nombres)

[1, 10, 23, 41, 12, -5, 0]

-5

In [61]:
print(nombres)
max(nombres)

[1, 10, 23, 41, 12, -5, 0]

41

In [62]:
print(nombres)
sorted(nombres) # => 1 nouvelle liste

[1, 10, 23, 41, 12, -5, 0]

[-5, 0, 1, 10, 12, 23, 41]

In [63]:
print(ville)
sorted(ville)

Fontainebleau

['F', 'a', 'a', 'b', 'e', 'e', 'i', 'l', 'n', 'n', 'o', 't', 'u']

In [64]:
print(villes)
sorted(villes)

['Toulouse', 'Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Lyon', "L'Haÿ-les-Roses", 'La Châtre', 'Mittelbergheim', 'Fontainebleau']

['Fontainebleau',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Lyon',
 'Mittelbergheim',
 'Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse']

In [65]:
list(reversed(villes))

['Fontainebleau',
 'Mittelbergheim',
 'La Châtre',
 "L'Haÿ-les-Roses",
 'Lyon',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Montpellier',
 'Toulouse']

In [66]:
for ville in reversed(villes):
    print(ville)

Fontainebleau
Mittelbergheim
La Châtre
L'Haÿ-les-Roses
Lyon
Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson
Montpellier
Toulouse

In [67]:
for i, ville in zip(range(1, len(villes) + 1), reversed(villes)):
    print(f"- {i:02d} - {ville}")

- 01 - Fontainebleau
- 02 - Mittelbergheim
- 03 - La Châtre
- 04 - L'Haÿ-les-Roses
- 05 - Lyon
- 06 - Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson
- 07 - Montpellier
- 08 - Toulouse

In [68]:
# detail range:
list(range(1, len(villes) + 1))

[1, 2, 3, 4, 5, 6, 7, 8]

In [69]:
list(zip(range(1, len(villes) + 1), reversed(villes)))

[(1, 'Fontainebleau'),
 (2, 'Mittelbergheim'),
 (3, 'La Châtre'),
 (4, "L'Haÿ-les-Roses"),
 (5, 'Lyon'),
 (6, 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson'),
 (7, 'Montpellier'),
 (8, 'Toulouse')]

In [70]:
villes

['Toulouse',
 'Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Lyon',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

In [71]:
list(reversed(villes))

['Fontainebleau',
 'Mittelbergheim',
 'La Châtre',
 "L'Haÿ-les-Roses",
 'Lyon',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Montpellier',
 'Toulouse']

In [72]:
# le parcours s'arrête par rapport à la plus petite des sources
for ville, i, n, lettre in zip(villes, range(100), nombres, 'abcdefghilklmnopqrstuvwxyz'):
    print(i, n, lettre, ville)

0 1 a Toulouse
1 10 b Montpellier
2 23 c Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson
3 41 d Lyon
4 12 e L'Haÿ-les-Roses
5 -5 f La Châtre
6 0 g Mittelbergheim

In [75]:
# Le module itertools offre de nombreuses autres itérations
from itertools import zip_longest

In [77]:
for ville, i, n, lettre in zip_longest(villes, range(28), nombres, 'abcdefghilklmnopqrstuvwxyz'):
    print(i, n, lettre, ville)

0 1 a Toulouse
1 10 b Montpellier
2 23 c Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson
3 41 d Lyon
4 12 e L'Haÿ-les-Roses
5 -5 f La Châtre
6 0 g Mittelbergheim
7 None h Fontainebleau
8 None i None
9 None l None
10 None k None
11 None l None
12 None m None
13 None n None
14 None o None
15 None p None
16 None q None
17 None r None
18 None s None
19 None t None
20 None u None
21 None v None
22 None w None
23 None x None
24 None y None
25 None z None
26 None None None
27 None None None

## Tuples
Caractéristiques: non modifiable, peut-être hétérogène

In [82]:
ville_t = 'Montpellier', 34, 307_101
ville_t

('Montpellier', 34, 307101)

In [84]:
ville_t2 = ('Toulouse', 31, 511_684)
ville_t2

('Toulouse', 31, 511684)

In [88]:
print(ville_t[0])
print(ville_t[2])
print(ville_t[-1])
print(ville_t[:2])

Montpellier
307101
307101
('Montpellier', 34)

In [92]:
# ville_t[0] = 'Pau'
# TypeError: 'tuple' object does not support item assignment

In [96]:
# coordonnées en 2D
coords = (12, 34)
coords

(12, 34)

In [98]:
len(coords)

2

In [102]:
# le tuple est iterable
for info in ville_t:
    print(info)

Montpellier
34
307101

In [110]:
# Déballer un tuple en autant de variables que d'éléments (unpack)
nom, departement, population = ville_t
print(ville_t)
print(nom)
print(departement)
print(population)

('Montpellier', 34, 307101)
Montpellier
34
307101

In [114]:
# 'Unpacks' erronés:

# Pas assez de valeurs !
# nom, departement, population, x = ville_t
# ValueError: not enough values to unpack (expected 4, got 3)

# Trop de valeurs !
# nom, departement = ville_t
# ValueError: too many values to unpack (expected 2)

In [120]:
# Unpack avec des jokers
nom, departement, _ = ville_t
print('tuple :', ville_t)
print('nom :', nom)
print('département:', departement)

tuple : ('Montpellier', 34, 307101)
nom : Montpellier
département: 34

In [118]:
for _ in range(5):
    print("Echo")

Echo
Echo
Echo
Echo
Echo

In [122]:
x, _, z, _, _ = (12, 34, 56, 'red', 12.5)
print(x, z)

12 56

In [132]:
#type: list[tuple[str, int, int]]
liste_tuples_villes = [
    ('Montpellier', 34, 307_101),
    ('Toulouse', 31, 511_684),
    ('Pau', 64, 77_000),
    ('Mittelbergheim', 67, 640),
]

In [134]:
type(liste_tuples_villes)

list

In [138]:
# nom de la 1ère ville
liste_tuples_villes[0][0]

'Montpellier'

In [146]:
# parcourir les villes et afficher les 3 informations: nom, département et population

# version 1: code peu lisible
for ville_t in liste_tuples_villes:
    print(ville_t[0], ville_t[1], ville_t[2])

Montpellier 34 307101
Toulouse 31 511684
Pau 64 77000
Mittelbergheim 67 640

In [156]:
# version 2 avec unpack => + lisible
for nom, departement, population in liste_tuples_villes:
    print(f"ville: {nom}, département: {departement}, population: {population}")

ville: Montpellier, département: 34, population: 307101
ville: Toulouse, département: 31, population: 511684
ville: Pau, département: 64, population: 77000
ville: Mittelbergheim, département: 67, population: 640

In [167]:
# unpack à plusieurs niveaux
(x, y, z), color = ((12, 23, 34), 'red')
print(x, y, z)
print(color)

12 23 34
red

In [177]:
# liste des départements >= 50 dans la liste des villes
numero_dept_min = 50
liste_departements = []
for _, departement, _ in liste_tuples_villes:
    if departement >= numero_dept_min:
        # print(departement)
        liste_departements.append(departement)
liste_departements

[64, 67]

In [179]:
len(liste_departements)

2

In [181]:
numero_dept_min = 50
liste_departement_population = []
for _, departement, population in liste_tuples_villes:
    if departement >= numero_dept_min:
        # print(departement)
        liste_departement_population.append((departement, population))
liste_departement_population

[(64, 77000), (67, 640)]

## Dictionnaires
type dict = 'liste' d'associations clé-valeur

NB: chaque clé est unique

In [185]:
ville_d = {'nom': 'Montpellier', 'département': 34, 'population': 307101}
ville_d

{'nom': 'Montpellier', 'département': 34, 'population': 307101}

In [187]:
type(ville_d)

dict

In [189]:
len(ville_d)

3

In [194]:
# accès par clé
print(ville_d['nom'])
print(ville_d['département'])
print(ville_d['population'])

Montpellier
34
307101

In [197]:
ville_d['population'] += 200
ville_d

{'nom': 'Montpellier', 'département': 34, 'population': 307301}

In [201]:
# ville_d['superficie']
# => KeyError: 'superficie'

In [203]:
ville_d['superficie'] = 56.88
ville_d

{'nom': 'Montpellier',
 'département': 34,
 'population': 307301,
 'superficie': 56.88}

In [205]:
ville_d['superficie']

56.88

In [207]:
del ville_d['superficie']
ville_d

{'nom': 'Montpellier', 'département': 34, 'population': 307301}

In [213]:
# demander si une clé est présente dans le dictionnaire
print('superficie' in ville_d)
print('nom' in ville_d)

False
True

In [217]:
# parcours implicite d'un dictionnaire => sur ses clés
for nom_info in ville_d:
    print(nom_info)

nom
département
population

In [223]:
# parcours sur les clés
for nom_info in ville_d.keys():
    print(nom_info)

nom
département
population

In [219]:
# parcours sur les valeurs
for valeur_info in ville_d.values():
    print(valeur_info)

Montpellier
34
307301

In [227]:
# parcours sur les (clé, valeur)
for nom_info, valeur_info in ville_d.items():
    print(nom_info, '->', valeur_info)

nom -> Montpellier
département -> 34
population -> 307301

In [229]:
list(ville_d.keys())

['nom', 'département', 'population']

In [231]:
list(ville_d.values())

['Montpellier', 34, 307301]

In [235]:
tuple(ville_d.values())

('Montpellier', 34, 307301)

In [233]:
list(ville_d.items())

[('nom', 'Montpellier'), ('département', 34), ('population', 307301)]

### Exercice
Représentation de plusieurs villes avec des dictionnaires
- Fabriquer une liste de dictionnaires à partir de la liste de tuples
- Afficher les villes à partir de cette nouvelle liste
- Calculer la population totale à partir de cette nouvelle liste

In [238]:
liste_tuples_villes

[('Montpellier', 34, 307101),
 ('Toulouse', 31, 511684),
 ('Pau', 64, 77000),
 ('Mittelbergheim', 67, 640)]