# Conteneurs Python
- listes: type list []
- tuples: type tuple ()
- ensembles: type set {}
- dictionnaires: type dict {}

## Listes

### Création

In [4]:
villes = ["Montpellier", "Pau", "Toulouse", "L'Haÿ-les-Roses", "La Châtre"]
villes

['Montpellier', 'Pau', 'Toulouse', "L'Haÿ-les-Roses", 'La Châtre']

In [5]:
type(villes)

list

### Accès

In [7]:
# 1er élément de la liste: position 0
villes[0]

'Montpellier'

In [8]:
# dernier élément
villes[-1]

'La Châtre'

In [9]:
# slices => sous liste
villes[:3]

['Montpellier', 'Pau', 'Toulouse']

In [10]:
villes[-3:]

['Toulouse', "L'Haÿ-les-Roses", 'La Châtre']

In [11]:
len(villes)

5

### Modifications avec 1 méthode

In [13]:
villes.append('Limoges')
villes

['Montpellier', 'Pau', 'Toulouse', "L'Haÿ-les-Roses", 'La Châtre', 'Limoges']

In [14]:
villes.insert(2, 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson')
villes

['Montpellier',
 'Pau',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Limoges']

In [15]:
villes_a_ajouter = ["Mittelbergheim", "Fontainebleau"]
villes.extend(villes_a_ajouter)
villes

['Montpellier',
 'Pau',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Limoges',
 'Mittelbergheim',
 'Fontainebleau']

In [16]:
del villes[1]
villes

['Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Limoges',
 'Mittelbergheim',
 'Fontainebleau']

In [17]:
# Vider toute la liste
villes_a_ajouter.clear()
villes_a_ajouter

[]

In [18]:
villes.remove('Limoges')
villes

['Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Toulouse',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

### Récupération d'exception
structure try ... except

liste des exceptions natives: https://docs.python.org/3.12/library/exceptions.html

In [20]:
try:
    villes.remove('Limoges')
    print("Limoges a été supprimé de la liste")
except:
    print("Limoges n'est pas dans la liste")

Limoges n'est pas dans la liste

In [21]:
try:
    villes.remove('Limoges')
    print("Limoges a été supprimé de la liste")
except ValueError as ex:
    print("Limoges n'est pas dans la liste")
    print("Raison :", ex)

Limoges n'est pas dans la liste
Raison : list.remove(x): x not in list

### Modification avec l'operateur []
- 1 index
- 1 slice

In [23]:
print(villes)
villes[2] = 'Montcuq'
print(villes)

['Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Toulouse', "L'Haÿ-les-Roses", 'La Châtre', 'Mittelbergheim', 'Fontainebleau']
['Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Montcuq', "L'Haÿ-les-Roses", 'La Châtre', 'Mittelbergheim', 'Fontainebleau']

In [24]:
# remplacement de 2 villes par 2 autres
villes[:2] = ['Toulouse', 'Pau']
villes

['Toulouse',
 'Pau',
 'Montcuq',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

In [25]:
# remplacement de 2 villes par 3 autres
villes[1:3] = ['Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson', 'Lyon']
villes

['Toulouse',
 'Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Lyon',
 "L'Haÿ-les-Roses",
 'La Châtre',
 'Mittelbergheim',
 'Fontainebleau']

In [26]:
# remplacement de 3 villes par 1 autre
villes[-3:]=['Lille']
villes

['Toulouse',
 'Montpellier',
 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
 'Lyon',
 "L'Haÿ-les-Roses",
 'Lille']

In [27]:
# suppression avec slice
del villes[-3:]
villes

['Toulouse', 'Montpellier', 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson']

### Liste hétérogène
rare => privilégier les tuples ou dictionnaires

In [29]:
valeurs = ['Montpellier', 34, 12.3, False, None, [1,2,3]]
valeurs

['Montpellier', 34, 12.3, False, None, [1, 2, 3]]

## Boucle for
On peut parcourir tout objet 'iterable': str, list, tuple, set, dict, numpy.ndarray, ...

In [31]:
# type list: itération sur les éléments de la liste
for ville in villes:
    print(ville)

Toulouse
Montpellier
Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson

In [32]:
# # TypeError: 'int' object is not iterable
# for x in 123456:
#     print(x)

In [33]:
# type str: itération sur les caractères de la chaîne
nom_ville = villes[-1]
for lettre in nom_ville:
    print(lettre, end=' | ')

S | a | i | n | t | - | R | é | m | y | - | e | n | - | B | o | u | z | e | m | o | n | t | - | S | a | i | n | t | - | G | e | n | e | s | t | - | e | t | - | I | s | s | o | n |

In [34]:
for i in range(5): # de 0 (inclus) à 5 (exclus)
    print(i)

0
1
2
3
4

In [35]:
for i in range(1, 6): # de 1 (inclus) à 6 (exclus)
    print(i)

1
2
3
4
5

In [36]:
for i in range(0, 50, 10): # de 0 (inclus) à 50 (exclus) par pas de 10
    print(i)

0
10
20
30
40

In [37]:
# Python 3: la fonction range renvoie un petit objet décrivant l'intervalle
# Python 2.7 => liste [0,10,20,30,40]
r = range(0,50,10)
r

range(0, 50, 10)

In [38]:
# la fonction list convertit 1 objet iterable en liste
list(range(0,50,10))

[0, 10, 20, 30, 40]

In [39]:
list(nom_ville)

['S',
 'a',
 'i',
 'n',
 't',
 '-',
 'R',
 'é',
 'm',
 'y',
 '-',
 'e',
 'n',
 '-',
 'B',
 'o',
 'u',
 'z',
 'e',
 'm',
 'o',
 'n',
 't',
 '-',
 'S',
 'a',
 'i',
 'n',
 't',
 '-',
 'G',
 'e',
 'n',
 'e',
 's',
 't',
 '-',
 'e',
 't',
 '-',
 'I',
 's',
 's',
 'o',
 'n']

### Exercice 1
Afficher chaque ville en majuscule et entre parenthèse son nombre de lettre

In [41]:
villes = [
    'Toulouse',
     'Montpellier',
     'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson',
     'Lyon',
     "L'Haÿ-les-Roses",
     'La Châtre',
     'Mittelbergheim',
     'Fontainebleau'
]

In [42]:
for ville in villes:
    print(f"{ville.upper()} ({len(ville)})")

TOULOUSE (8)
MONTPELLIER (11)
SAINT-RÉMY-EN-BOUZEMONT-SAINT-GENEST-ET-ISSON (45)
LYON (4)
L'HAŸ-LES-ROSES (15)
LA CHÂTRE (9)
MITTELBERGHEIM (14)
FONTAINEBLEAU (13)

### Exercice 2
Récupérer dans une liste les villes de moins de 10 lettres

In [52]:
# initialise une liste vide
villes_moins_10_carac = []
# boucle qui ajoute les éléments trouvés
for ville in villes:
    if len(ville) < 10:
        # print(ville,(len(ville)))
        villes_moins_10_carac.append(ville)
villes_moins_10_carac

['Toulouse', 'Lyon', 'La Châtre']

### Exercice 3
Le nombre total de lettres de la liste de villes

In [49]:
# operateur 'in place': +=, -=, *=, /=, //=, %=, **=

# initialise un compteur
nb_char = 0
# boucle ajoutant le nombre de lettre pour chacune des villes
for ville in villes:
    # nb_char = nb_char + len(ville)
    nb_char += len(ville)
nb_char

119

## Fonctions natives sur les iterables

### fonction sum
Signature: sum(iterable, /, start=0)

In [55]:
nombres = [1, 10, 23, 41]
s = sum(nombres)
s

75

In [63]:
# appel 1er paramètre par position, 2e par keyword (privilégié pour les optionnels)
sum(nombres, start=100)

175

In [69]:
# appel avec tous les paramètres par position
sum(nombres, 100)

175

### fonction enumerate
Signature: enumerate(iterable, start=0)

In [73]:
enumerate(villes, 1)

In [75]:
enumerate(villes, start=1)

In [79]:
enumerate(iterable=villes)

In [77]:
enumerate(iterable=villes, start=1)

In [88]:
for i, ville in enumerate(villes, start=1):
    print(f"- {i:02d} - {ville}")

- 01 - Toulouse
- 02 - Montpellier
- 03 - Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson
- 04 - Lyon
- 05 - L'Haÿ-les-Roses
- 06 - La Châtre
- 07 - Mittelbergheim
- 08 - Fontainebleau

In [90]:
list(enumerate(villes, start=1)) # liste de tuples (int, str)

[(1, 'Toulouse'),
 (2, 'Montpellier'),
 (3, 'Saint-Rémy-en-Bouzemont-Saint-Genest-et-Isson'),
 (4, 'Lyon'),
 (5, "L'Haÿ-les-Roses"),
 (6, 'La Châtre'),
 (7, 'Mittelbergheim'),
 (8, 'Fontainebleau')]